<p>You are registered at {{site}}</p>
<p>Credentials:
  <table
    style='border-collapse: collapse; background-color: #D8E3F0; margin: 0; width: 100%;'
  >
    <tr>
      <td
        style='border-collapse: collapse; font-size: 14px; line-height: 140%; padding: 21px; width: 100%; vertical-align: bottom; font-family: Arial, Helvetica, Tahoma, Verdana, serif;'
      >
        Login:
        <strong>{{login}}</strong>
        <br />
        Password:
        <strong>{{password}}</strong>
      </td>
    </tr>
  </table>
</p>
